---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
import { formatDate } from "../../utils";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<BaseLayout>
  <section class="bg-gray-900">
    <div class="px-4 py-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <article>
        <h1 class="text-gray-300 text-4xl font-bold mb-2">
          {entry.data.title}
        </h1>
        <h3 class="text-gray-300 text-lg mb-2">
          Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
        </h3>
        <div class="flex flex-wrap gap-2 mb-6">
          <span
            class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
            ><a href="">Code</a></span
          >
          <span
            class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
            ><a href="">Programming</a></span
          >
        </div>
        <img
          src={"/images/" + entry.data.image}
          alt="Article Image"
          class="w-full h-auto rounded-xl mb-6"
        />
        <Content />
      </article>
    </div>
  </section>
</BaseLayout>

<style is:global>
  p {
    margin: 20px 0;
    color: white;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
    color: white;
  }
</style>
