---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import error from "../images/error-404.png";
---

<BaseLayout title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-items-center gap-7">
    <Image src={error} alt="404" height={250} width={250} class="my-10" />
  </div>
</BaseLayout>
