---
const currentYear = new Date().getFullYear();
---

<!-- Footer -->
<footer class="mt-4 bg-purple-900 w-full bottom-0 start-0">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex flex-col-reverse sm:items-center sm:justify-between"
  >
    <span class="text-sm text-gray-300 text-center sm:text-left mt-2 sm:mt-0">
      © {currentYear}
      <a href="https://grains.leifjerami.com" class="hover:underline"
        >Grains by Leif</a
      >
    </span>
  </div>
</footer>
