---
import { Image } from "astro:assets";
import Avatar from "../images/Frieren.png";
---

<!-- Hero section -->
<section class="bg-gray-900 py-8 sm:py-12 lg:py-16">
  <div class="my-auto mx-auto max-w-screen-xl px-4 text-center">
    <!-- Profile photo -->
    <div class="flex justify-center mb-8 sm:my-8 md:my-12">
      <Image
        src={Avatar}
        alt="Avatar"
        class="rounded-full w-32 h-32 object-cover object-top border-4 border-purple-500"
      />
    </div>     
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-200 md:text-5xl lg:text-6xl"
    >
      Hello World!🖖
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
    >
      Welcome to my blog site! Here, I share my thoughts on technology,
      innovation, and personal growth. Join me on this exciting journey as we
      explore the digital landscape together.
    </p>
    <!-- CTA -->
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:mb-8 md:mb-12"
    >
      <a
        href="#"
        class="inline-flex justify-center items-center py-3 px-5 mr-4 text-base font-bold text-center text-purple-500 rounded-full bg-gray-900 focus:ring-4 focus:ring-purple-300 border-4 border-purple-500 hover:text-purple-800 hover:border-purple-800 transition-colors duration-300"
      >
        Download
        <svg
          class="w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 16 18"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3"
          ></path>
        </svg>
      </a>
      <a
        href="#"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-bold text-gray-900 focus:outline-none bg-purple-500 rounded-full hover:bg-purple-700 focus:z-10 transition-colors duration-300"
      >
        Let's Connect!
      </a>
    </div>
  </div>
</section>
