<!-- Navbar -->
<nav class="bg-purple-900 w-full z-20 top-0 start-0">
  <div
    class="max-w-screen-xl mx-auto flex items-center justify-center p-4 text-gray-300"
  >
    <a
      href="/about"
      class="font-semibold text-gray-300 hover:text-purple-500 mr-8 relative group"
    >
      <span class="relative z-10">About</span>
      <span
        class="absolute bottom-0 left-0 w-full h-0.5 bg-gradient-to-r from-purple-900 to-purple-500 transform scale-x-0 transition-transform duration-300 origin-left group-hover:scale-x-100"
      ></span>
    </a>

    <a href="/" class="flex items-center text-4xl"> 👾 </a>

    <a
      href="/blog"
      class="font-semibold text-gray-300 hover:text-purple-500 ml-8 relative group"
    >
      <span class="relative z-10">blog</span>
      <span
        class="absolute bottom-0 left-0 w-full h-0.5 bg-gradient-to-r from-purple-900 to-purple-500 transform scale-x-0 transition-transform duration-300 origin-left group-hover:scale-x-100"
      ></span>
    </a>
  </div>
</nav>
