---
import ArticleCard from "./ArticleCard.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";

import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<"blog">[] = allBlogArticles.slice(0);
---

<section class="bg-gray-900">
  <div class="px-4 py-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <!-- Header, description and link to articles page -->
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-300"
      >
        Latest Articles
      </h2>
      <p class="font-light text-gray-300 sm:text-xl">
        Discover our latest featured post, showcasing cutting-edge insights and
        practical tips. Stay informed and inspired with our carefully curated
        content.
      </p>
      <a
        href="/articles"
        class="inline-flex justify-center items-center py-4 px-5 mt-4 mr-4 text-base font-bold text-center text-purple-500 rounded-full bg-gray-900 focus:ring-4 focus:ring-purple-300 border-4 border-purple-500 hover:text-purple-800 hover:border-purple-800 transition-colors duration-300"
      >
        See All Posts
      </a>
    </div>

    <!-- Latest articles -->
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        mostRecentArticle
          .slice(0, HOMEPAGE_ARTICLE_LIMIT)
          .map((article) => <ArticleCard article={article} />)
      }
    </div>
  </div>
</section>
